body {
  margin: 0;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #dbe2ef;
}
h2 {
  margin-right: 25%;
}
/*
@media (max-width: 480px) {
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
*/

#landing {
    background-image: url(images/landingIMG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#text-box{
    position: absolute;
    bottom: 50%;
    background-color: grey;
    opacity: .5;
    width: 40%;
    height: 20%;
}
#welcome-text{
    margin: 0;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 30%;
    position: absolute;
    top: 25%;
}

#landing2{
    height: auto;
    width: 100%;
    background-color: 3F72AF;
}
