body {
  margin: 0;
  background-color: #112D4E;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3F72AF;
  color: whitesmoke;
}
h2 {
  margin-right: 25%;
}
/*
@media (max-width: 480px) {
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
*/
/*
#landing {
    background-image: url(images/landingIMG.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 60em;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
*/
#landing{
    margin: 3% 10%;
    padding: 2.5rem 5rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    background-color: #C4DDFF;
    box-sizing: content-box;
    border-radius: 3rem;

}
#landing-text{
    align-self: center;
    font-size: x-large;
}
#landing-img{
    margin-left: 5%;
}

#landing,
#landing-img{
    border-radius: 3rem;
}
/*
#text-box{
    position: absolute;
    bottom: 50%;
    background-color: grey;
    opacity: .5;
    width: 40%;
    height: 20%;
}
#welcome-text{
    margin: 0;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 30%;
    position: absolute;
    top: 25%;
}
*/

#landing2{
    height: auto;
    width: 100%;
    background-color: 3F72AF;
}
